<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:data="http://www.example.org/data"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.example.org/data
	http://www.example.org/data/data.xsd">

	<data:data id="cal"  number1="40.5" number2="234" operator="add" />
</beans>